<%- include('./partials/header')  %>
<section >
    <div class = "image">
        <!-- <img src="/images/aboutUs.jpg" alt=""> -->
    </div>

    <div class = "content">
        <h2>About Us</h2>
        <span><!-- line here --></span>

        <p>B&B shop is a small, Macedonia-based automobile interior and exterior accessories organization founded by two car enthusiasts. We will remain small in order to offer unprecedented customer attention.</p>

        <ul class = "links">
            <li><a href = "/">Home Page</a></li>

            <div class = "vertical-line"></div>

            <li><a href = "/shop">Shop</a></li>

            <div class = "vertical-line"></div>
            
            <li><a href = "mailto: bbshopmk@gmail.com">contact</a></li>
        </ul>

        <ul class = "icons">

            <li>
              <a href="https://www.facebook.com/profile.php?id=100083346102606"><i class = "fa fa-facebook"></i></a>  
            </li>
            <li>
               <a href="https://www.instagram.com/bbshopmk/?igshid=YmMyMTA2M2Y=&fbclid=IwAR1UC07ZN72eIX1g3MfRgmLSwwXUxYU4nV8VlN1hH5By8FK_kOruqjYc29I"> <i class = "fa fa-instagram"></i></a>
            </li>
        </ul>
    </div>
</section>
    <%- include('./partials/footer')  %>