<%- include('./partials/header')  %>

  <div class="home_page">
    <div id="bg">
      <img class="homeImg" alt="No Image Found">
    </div>
    <div class="banner-overlay">
      <div class="banner-content">
          <h1>DRIVERS KNOW</h1>
          <p>A Real Driver Knows Exactly Whats In His Car</p>
          <a href="/shop" class="button">Start Shopping!</a>
      </div>
    </div>

  </div> 

  <%- include('./partials/footer')  %>